{
  "extends": "eslint:recommended",
  "rules": {
    "semi": ["error", "always"],
    "quotes": [2, "single", "avoid-escape"],
    "prefer-const" : "warn",
    "no-var": "warn",
    "no-console": "off"
  }
}
