
/* Logo Animation */
@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.logo:hover {
    animation: color-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

header {
    padding: 1em;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    background: var(--bg-nav);
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
}

main > .container {
    flex-direction: column;
    flex-basis: 100%;
}

main > .container > ul > li {
    border-bottom: 1px solid var(--gray2);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 50px;
}

main > .container > ul > li > span {
    padding-right: 5px;
    width: 320px;
}

main > .container > ul > li > input {
    width: 40px;
    border-right: 1px solid var(--text);
}

main > .container > ul > li:first-of-type {
    padding-top: 40px;
    min-height: 50px;
}

h3 {
    font-weight: bold;
    font-size: 34px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.tasks {
/*    display: grid;*/
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "note-todo note-title note-description note-importance note-duedate action-items" ". . . . . ." ". . . . . ." ". . . . . .";
}

.note-title {
    grid-area: note-title;
}

.note-description{
    grid-area: note-description;
}

.note-importance {
    grid-area: note-importance;
}

.note-duedate {
    grid-area: note-duedate;
}

.action-items {
    grid-area: action-items;
}

.note-todo {
    grid-area: note-todo;
}

/****** Style Star Rating Widget *****/
.star > label:before {
    margin: 5px;
    font-size: 1.25em;
    display: inline-block;
    font-family: FontAwesome;
    content: "\f005";
}

.edit > label:before {
    margin: 5px;
    font-size: 1.25em;
    display: inline-block;
    font-family: FontAwesome;
    content: "\f040";
}

.delete > label:before {
    margin: 5px;
    font-size: 1.25em;
    display: inline-block;
    font-family: FontAwesome;
    content: "\f1f8";

}

/*Menu Button*/
.create-new.menu-button {
    width: 200px;
}

.create-new span:before{
    margin: 5px;
    font-size: 1.25em;
    display: inline-block;
    font-family: FontAwesome;
    content: "\f055";
}

.menu-button{
    text-align: center;
    cursor: pointer;
}

.menu-button {
    border-radius: 4px;
    background-color: var(--blue);
    border: none;
    padding: 20px;
    width: 235px;
    transition: all 0.5s;
}

.menu-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: var(--text);
    transition: 0.5s;
}

.menu-button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.menu-button:hover span {
    padding-right: 25px;
}

.menu-button:hover span:after {
    opacity: 1;
    right: 0;
}
