
/* Logo Animation */
@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.logo:hover {
    animation: color-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

header {
    padding: 1em;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    background: var(--bg-nav);
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
}


/****** Style Star Rating Widget *****/

main > .container {
    flex-basis: 100%;
}

main > .container > ul > li {
    border-bottom: 1px solid var(--gray2);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 50px;
}

main > .container > ul > li > span {
    padding-right: 5px;
    width: 320px;
}

main > .container > ul > li > input {
    width: 40px;
    border-right: 1px solid var(--text);
}

main > .container > ul > li:first-of-type {
    padding-top: 40px;
    min-height: 50px;
}

h3 {
    font-weight: bold;
    font-size: 34px;
}

.tasks {
    display: flex;
    flex-direction: column;
}


/*** Icon button styling ****/
.star > label:before {
    margin: 5px;
    font-size: 1.25em;
    display: inline-block;
    font-family: FontAwesome;
    content: "\f005";
}

.edit > label:before {
    margin: 5px;
    font-size: 1.25em;
    display: inline-block;
    font-family: FontAwesome;
    content: "\f040";
}

.delete > label:before {
    margin: 5px;
    font-size: 1.25em;
    display: inline-block;
    font-family: FontAwesome;
    content: "\f1f8";
}

.create-new span:before{
    margin: 5px;
    font-size: 1.25em;
    display: inline-block;
    font-family: FontAwesome;
    content: "\f055";
}


/*Menu Button*/
.menu-button{
    text-align: center;
    cursor: pointer;
}

.menu-button {
    border-radius: 4px;
    background-color: var(--blue);
    border: none;
    padding: 20px;
    width: 235px;
    transition: all 0.5s;
}

.menu-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: var(--text);
    transition: 0.5s;
}

.menu-button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.menu-button:hover span {
    padding-right: 25px;
}

.menu-button:hover span:after {
    opacity: 1;
    right: 0;
}

/** completed notes switch **/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
