@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

header {
  padding: 1em;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
  background: var(--bg-nav);
  margin-bottom: 1em;
  padding-bottom: 3.5em;
  text-align: center;
}

main {
  min-height: 1000px;
  padding: 2rem;
  font-size: 17px;
}

main > .container > ul > li {
  border-bottom: 1px solid var(--gray2);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

main > .container > ul > li > span {
  padding-right: 5px;
  float: left;
  width: 420px;
}

main > .container > ul > li > input {
  float: left;
  width: 40px;
  border-right: 1px solid var(--text);
}

main > .container > ul > li:first-of-type {
  padding-top: 40px;
}

h3 {
  font-weight: bold;
  font-size: 34px;
}

.button-set {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
}

.right-aligned {
  float: right;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

footer {
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background: var(--bg-nav);
  flex: 1 1 0;
  align-items: center;
}


img {
  margin: 2em 0 0;
  width: 180px;
  height: 180px;
}

/* Navbar */

.navbar {
  height: 70px;
  width: 100%;
  background: var(--bg-nav);
  color: var(--text);
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.nav-item {
  cursor: pointer;
}


.dropdown {
  position: absolute;
  width: 500px;
  opacity: 0;
  z-index: 2;
  background: var(--bg-dropdown);
  border-top: 2px solid var(--border-color);

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  margin-top: 2rem;
  padding: 0.5rem;

  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
  transform: translateX(-40%);

  transition: opacity .15s ease-out;
}


.has-dropdown:focus-within .dropdown   {
  opacity: 1;
  pointer-events: auto;
}


.dropdown-item a {
  width: 100%;
  height: 100%;
  size: 0.7rem;
  padding-left: 10px;
  font-weight: bold;
}

.dropdown-item a::before {
  content: ' ';
  border: 2px solid var(--border-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}


/* Themes */


:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --blue2: #0084a7;
  --blue3: #0084a8;
  --purple: #a82dd1;
  --yellow: #fff565;
  --stars: 5;
  --star-size: 40px;
  --star-spacing: 2px;
  --star-on-color: #F9DF4A;
  --star-off-color: #CCCCCC;
}

.light {
  --bg: var(--gray1);
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
  --bg-dropdown: var(--gray0);
  --bg-form: var(--gray1);
  --text: var(--gray6);
  --border-color: var(--blue);
  --bg-solar: var(--yellow);
}


.dark {
  --bg: var(--gray5);
  --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
  --bg-dropdown: var(--gray6);
  --bg-form: var(--gray5);
  --text: var(--gray0);
  --border-color: var(--purple);
  --bg-solar: var(--blue);
}

#dark::before {
  background: #2a2e35;
}

#light::before {
  background: #ffffff;
}


/* Logo Animation */


@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}


.logo:hover {
  animation: color-rotate 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/*** Icon button styling ****/
.edit > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  font-family: FontAwesome;
  content: "\f040";
}

.delete > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  font-family: FontAwesome;
  content: "\f1f8";
}



/****** Style Star Rating Widget *****/

.fixed-rating {
  border: none;
}

.fixed-rating > input {
  display: none;
}
.fixed-rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: var(--gray0);
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

.button-two{
  text-align: center;
  cursor: pointer;
}

/*Button Two*/
.button-two {
  border-radius: 4px;
  background-color: var(--blue);
  border: none;
  padding: 20px;
  width: 235px;
  transition: all 0.5s;
}

.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: var(--text);
  transition: 0.5s;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}

input,
textarea,
select {
  font-size: 17px;
}

form > label {
  font-weight: bold;
}

textarea {
  width: 80%;
  resize: none;
  background: var(--bg-form);
  color: var(--text);
}


input[type=text], input[type=date], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  color: var(--text);
  border-radius: 4px;
  box-sizing: border-box;
  background: var(--bg-form);
}

input[type=submit] {
  width: 80%;
  background-color: var(--blue);
  color: white;
  padding: 14px 20px;
  margin-left: 16px;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background: var(--bg-form);
  padding: 20px;
}
