@import 'all-notes.css';
@import 'new-note.css';
@import 'index.css';
@import 'themes.css';

@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

main {
  display: flex;
  min-height: 1000px;
  padding: 2rem;
  font-size: 17px;
}

div, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

div {
  border-radius: 5px;
  background: var(--bg-form);
  padding: 20px;
}
