
/* Themes */
:root {
    --gray0: #f8f8f8;
    --gray1-light: #ccc;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: #0084a5;
    --blue2: #0084a7;
    --blue3: #0084a8;
    --purple: #a82dd1;
    --yellow: #fff565;
    --star: #EFCE4A;
    --green: #45a049;
}

.light {
    --bg: var(--gray1);
    --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
    --bg-dropdown: var(--gray0);
    --bg-form: var(--gray1);
    --text: var(--gray6);
    --border-color: var(--blue);
    --bg-solar: var(--yellow);
}


.dark {
    --bg: var(--gray5);
    --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    --bg-dropdown: var(--gray6);
    --bg-form: var(--gray5);
    --text: var(--gray0);
    --sort-selected: var(--gray6);
    --border-color: var(--purple);
    --bg-solar: var(--blue);
}

#dark::before {
    background: #2a2e35;
}

#light::before {
    background: #ffffff;
}
